@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;1,300;1,500;1,600;1,700;1,900&display=swap");

html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(to right, #3525af, #5e1f98,#b084ee,#9153c9);
    font-family: "Baloo Tamma 2", cursive;
}


.navigation-link{
    border-bottom: 5px solid #f5ba09;
    position: fixed;
 } 

.navigation-link:hover{
    text-decoration: none;
    border: 5px solid #f5ba09;
    padding: 5px;
    transition: 0.5s ease;
    border-radius: 50px;
  }

/* .see-project:hover{
    color:white;
    background-color: black;
} */

.main_container{
    min-height: 100vh;
  
}
.main_row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    background:#f5ba09;
    border-radius: 200px;
    padding: 50px;
    margin:20px;
    width: 300px;
    height: 300px;
}
#gir_and_laptop{
    width: 300px;
    height: 300px;
}
.main_row h1 {
    font-size: 5rem;
}
.main_row img{
    width: auto;
    height: 56.9rem;
}
#about{
    background: linear-gradient(to right, #3525af,#a88eef, #9153c9);
    border-radius: 0.5rem;
}
/* .card{
    border-bottom: 8px solid #f5ba09;
    transition: 0.5s ease;
    cursor: pointer;
} */
/* .card_image{
    height: 1000px;
    width: 300px;
} */
#social-media{
    background: linear-gradient(to right, #3525af,#a88eef, #9153c9);
}
.media_link{
    padding : 1rem;
    max-width: 15rem;
    margin-left:1rem;
    border: 8px solid #f5ba09;
    border-radius: 50px;
}
.media_link:hover{
    background:#f5ba09;
    cursor: pointer;
}
/* .card:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
} */
.footer_new_social_links_main{
    text-align: center; 

    border-radius:50px; 
}
#icons{
    color: #f5ba09;
    border: 2px solid #f5ba09; 
    border-radius: 50px; 
    /* size: 1000px; */
    padding: 10px;
}

/* card animation begins here */

/* * {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }  */
 
  /* body
  {
    display: flex;
    justify-content: center; 
     align-items: center;
    background: linear-gradient(to right, #3525af, #5e1f98,#b084ee,#9153c9);

  }  */

     /* .container
  {
      position: relative;
      width: 1100px;
       display: flex; 
      justify-content: center;
      align-items: center; 
      flex-wrap: wrap;
      padding: 30px;
  }    */

    #onScroll
  {
    background-color: #f5ba09;
  } 
  
  .container .card
  {     
        position: relative;
        max-width: 300px;
        height: 215px;
        background: #ffffff;
        margin: 30px 10px;
        padding: 20px 25px; 
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 202px rgba(0,0,0,0.5);
        transition: 0.3s ease-in-out;
  }
  .container .card:hover
  {
        height: 500px;
        justify-content: center;
        align-items: center; 
  }
  .container .card .imgBx
  {
    position: relative;
    max-width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    justify-content: center;
    align-items: center; 
    background-color:transparent;

  }
  .container .card .imgBx  #project_description
  {
     visibility: visible; 
  }

  .container .card .imgBx img{
      max-width: 100%;
      border-radius: 4px; 
      justify-content: center;
      align-items: center; 

  }

  .container .card .content
  {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color:#111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;

  }

  .container .card:hover .content
  {
        visibility: visible;
        opacity: 1;
        margin-top: -30px;
        transition-delay: 0.3s;
  }

  #row_skills{
    background-color:white;
    border-radius: 3%;
  } 

  .skills_image {
    height: 5em;
    border-radius: 10em;
  }


  .card-body{
    background: linear-gradient(to right,#FFFFFF,#f5ba09,#a88eef, #9153c9);
  }
  #services{
      background-color: #FFFFFF;
      border-radius: 3%;
  }

  .progress .progress-bar {
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    width: 0;
  }


ul{
    list-style-image: url('../images/right-arrow.png');
}
.ul .img{
    border-radius: 50px;
}




